<h1> Hello </h1>
<!-- <app-rooms></app-rooms> -->
<!-- <div #user> </div> // template reference -->

<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
    This is from ng COntent
</app-container>

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">
    Welcome User!
  </div>
    <div *ngSwitchCase="'Admin'">
      <app-rooms></app-rooms>
    </div>
  <div *ngSwitchDefault>
    you are not Authorized
  </div>
</div> -->
<!-- <ng-template #user>
</ng-template></div> -->
